        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
        }

        h1 {
            color: blue; 
            font-size: 28px;
        }

        h2 {
            color:orange; 
            font-size: 22px;
        }
        p {
            font-family: arial, sans-serif;
            font-size: 14;
        }

        span {
            font-family: 'Courier New', monospace;
            font-size: 15px;
        }

        .azul {
            color:goldenrod;
        }

        .rojo {
            color:gold;
        }
        .green {
            color:rgb(255, 0, 255);
        }