body {
    font-family: 'Courier New', monospace;
    margin: 0;
    color: #333;
    line-height: 1.6;
}

.header {
    text-align: center;
    padding: 60px 20px;
    background: url('./../fotos/fondo.jpg') no-repeat center/cover;
    color: white;
}

.foto {
    width: 170px;
    border-radius: 50%;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
    list-style: none;
}

nav li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background-color: #6f8fa5;
    padding: 12px 25px;
    border-radius: 10px;
    border: 2px solid #4e6b80;
    display: inline-block;
    transition: 0.3s;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: #8fb4ca;
    cursor: pointer;
}

nav li.active {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    border: 2px solid white;
}

section {
    padding: 20px 50px;
    border-bottom: 2px solid #e6e6e6;
}

h2 {
    color: #49a6a6;
    font-size: 20px;
}

.columnas {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}

ul {
    list-style: none;
    padding-left: 0;
}

#skills ul li:before {
    content: "▶ ";
    padding-right: 5px;
    color: #49a6a6;
}

ul#idiomas li:before {
    padding-right: 5px;
    content: "✔ ";
    color: #49a6a6;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}

a {
    color: #49a6a6;
    text-decoration: none;
}